.image-box {
    display: block;
    background: var(--background-color);
}

.image-main video {
    display: block;
    /* constrain the video to the parent div */
    max-width: 100%;
    height: auto;
}

.image-credit {
    display: block;
    width: 100%;
    text-align: right;
    color: var(--secondary-color-dim);

    transition: color .5s;
}

.image-credit:hover,
.image-credit:focus-within {
    color: var(--secondary-color);
}

.image-credit a {
    color: inherit;
}
