.image-box {
    display: block;
    background: black;
}

.image-main video {
    display: block;
    /* constrain the video to the parent div */
    max-width: 100%;
    height: auto;
}

.image-credit {
    display: block;
    width: 100%;
    text-align: right;
    color: #756300;

    transition: color .5s;
}

.image-credit:hover,
.image-credit:focus-within {
    color: #B39800;
}

.image-credit a {
    color: inherit;
}
